*, *::after, *::before {
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  padding: 2em;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #d2d2d2;
}

.minor-area {
  width: 50%;
  height: 50%;
  padding: 1em;
  position: relative;
}

.score {
  width: fit-content;
  color: #f33;
  background-color: #000;
  font-size: 1.5em;
  font-family: 'Open sans', 'Times New Roman', Times, serif;
  padding: .12em .75em ;
  margin: 1em 0;
}

#startBtn {
  padding: .12em .75em;
  height: 2.5em;
}

.game-area {
  height: 100%;
  width: 50%;
  position: relative;
  overflow: hidden;
  background-color: #fff;
}

.cloud-bg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 250px;
  background-image: url('https://media0.giphy.com/media/j4lI50Qjt1YW0ySy6s/giphy.gif');
}

:root {
  --animation-speed: 2;
}

.tube {
  --play-state: paused;
  position: absolute;
  right: -100%;
  background-color: #000;
  width: 75px;
  height: 100%;
  animation: slide calc(var(--animation-speed) * 1s) linear infinite var(--play-state);
}

.tube-2 {
  animation-delay: calc((var(--animation-speed) * 500) * 1ms);
}


.hole {
  position: absolute;
  left: 0;
  top: 50%; translate: 0 -50%;
  height: 40%;
  width: 100%;
  background-color: #fff;
}

@keyframes slide {
  0% {
    right: -10%;
  }
  100% {
    right: calc(100% + 50px);
  }
}

.bird {
  width: 2em;
  aspect-ratio: 1/1;
  border-radius: 0 50% 50% 50%;
  rotate: -10deg;
  position: absolute;
  top: 35%;
  left: 20%;
  background-color: #f00;
  z-index: 100;
  border: 1px solid #00f;
}
